
<body id="bhome">

 
      
      

<div class="lightspot"> 

  <%= image_tag "lightspot1140px2.png", class:"img-responsive",  :size => "1140x600" %> 
</div>
	
	

		<a style="position:absolute;top:650px;left:25%;color:white;"href="#">link</a>
		<a style="position:absolute;top:650px;left:35%;color:white;"href="#">link</a>
		<a style="position:absolute;top:650px;left:45%;color:white;"href="#">link</a>
		<a style="position:absolute;top:650px;left:55%;color:white;"href="#">link</a>

	



   <p>

     
     <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary " %>
     <%= link_to "log in", new_user_session_path, class: "btn btn-primary " %>

   </p>

  
 
        
 <div class="imgbox">
  p
</div>
 
</body>


