
  <body id="bodyabout"><!-- #7D7463 #728C00--><!--blue #1A008C-->
 
    
       <div id="bigbox">
        
       
     
          <header> 
           <h1 id="h1about"> about us </h1>
        
           </header>
     
     

       
     


          <section id="me" class="sectabout">
        

          
            <article class="article">
              
              <h2 class="h2about">
                 
                 myself
             
              </h2>  
              
              <p class="paboutme"> 
              
              I just wanted to know what all those words in my mobile mean and i ended up making sites.since it bekame my hobby i didn't want to make a site like most 
              others just commercial or entertaining. 
               <a href=" more about me">readmore</a>.
                   
              </p>

            </article>

          </section> 


        
        <section id="else" class="sectabout">
     
          <h2 class="h2about">About? </h2>
          <p>
            Lorem ipsum
            L Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
            L Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget  penatibus et magnis dis parturient         
          </p>
 
        </section>

         <div id="bottom">
             
               <H3>I &hearts; fun </H3>
 
            </div>

         
       
      </div>
 


       
    

        

 </body>

