<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title></title>
     <link href="css/bootstrap.css" rel="stylesheet">

       <link rel="stylesheet" type="text/css" href="/assets/stylesheets/about.css.scss" media="all" />

   

    
 
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <style>
   
    * {margin:0px;
       padding:0px;
      }
    
     
     </style>
     <!--728C00-->
  </head>
  <body id="bodyabout"><!-- #7D7463 #728C00--><!--blue #1A008C-->
 
     
       <div id="bigbox">
        
       <h> i &hearts; you </h>
          <header> 
           <h1 id="h1about"> about us </h1>
        
           </header>
     
     

       
     


          <section id="me">
        

          
            <article class="article">
              
              <h2 class="h2about myself">
                 
                 myself
             
              </h2>  
              
              <p class="paboutme"> 
              
              I just wanted to know what all those words in my mobile mean and i ended up making websites.. since it bekame my hobby i didn't want to make a site like most 
              others just commercial or entertaining .
               <a href=" more about me"> readmore </a>.
                   
              </p>

            </article>

          </section> 


        
        <section id="else">
     
          <h2 class="h2about notmyself">About? </h2>
     
          </p>
 
        </section>

         <div id="bottom">
             
               <H3>blabla</H3>

            </div>

         
       
      </div>

        
    

        

 </body>

</html>


 