<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   
     <style>
   
      
   * {margin:0px;
       padding:0px
      }

      body{background-color: #646D7E;}

     div #bigbox{background-color:#e1f4f7;
                               width:95%;
                              height:800px;
                              border:5px dashed #345678;
                            

                            
                    

                        
                    }

     h1 {font-size:450%;
         text-align:center;
         letter-spacing:1em;
          font-family:verdana,sans-serif;
           font-weight:bold;
          font-style:italic;
        text-transform:uppercase;
        text-shadow:10px -5px 5px #3D3C3A;
               color:  #7D7463;
                padding-left:60px;
                

     
          
       


        }
     h2 { background:  #993300;
          text-align:center;
               
               width:20%;
                color:  white;
               

        }
     section {background: #728C00;
                  margin:100px;
                  padding:15px;
                  height:200px;
                  border:4px solid #345678;
            box-shadow:10px -10px 5px 5px #3D3C3A;
                 
              }

        div #bottom{background:white; margin-top:10px;
                                      
        color: #646D7E;           
      }
     
      
      p{color:#1A008C;}

     </style>
     <!--728C00-->
  </head>
  <body >
     <div id="bgimage">
    <div id="bigbox">
     <h1> about us </h1>

     <section id="me">
     <!--  <img src="water.jpg" align="right" alt="water"/> -->
      <h2> myself </h2><!-- 
      <p>I just wanted to understand  what all those words in my mobile  phone mean and i ended up making a website.<br />
      since it bekame my hobby i didn't want to make a site like most 
      others just commercial or entertaining .this is the result and i  hope its really really usefull for you guys ... -->labba

      </p>

     </section> 

      <section id="else">
     
      <h2>About ? </h2>
     
      </p>

     </section> 
    </div>

<div id="bottom">
<H3>blabla</H3>

</div>
</div>
  </body>
</html>


