
  <body id="bodyabout"><!-- #7D7463 #728C00--><!--blue #1A008C-->
 
     
       <div id="bigbox">
        
       
     
          <header> 
           <h1 id="h1about"> about us </h1>
        
           </header>
     
     

       
     


          <section id="me" class="sectabout">
        

          
            <article class="article">
              
              <h2 class="h2about">
                 
                 myself
             
              </h2>  
              
              <p class="paboutme"> 
              
              I just wanted to know what all those words in my mobile mean and i ended up making websites.. since it bekame my hobby i didn't want to make a site like most 
              others just commercial or entertaining .
               <a href=" more about me"> readmore </a>.
                   
              </p>

            </article>

          </section> 


        
        <section id="else" class="sectabout">
     
          <h2 class="h2about">About? </h2>
     
          </p>
 
        </section>

         <div id="bottom">
             
               <H3> fun </H3>
 
            </div>

         
       
      </div>

        
    

        

 </body>




 