
  <body id="lo">
    <hr />
   
    <div class="jumbotron center">
      
       <h1>HI  Welcome</h1>
       
       <p>sign <%= link_to "up", "#", class: "btn btn-primary " %>.</p>
       
      <!-- <%= image_tag "#{}", :size => "300x150" %>-->
      
     <div class="table">
       <h4>Calendar</h4>
       
        <table border="1">
          <tr>
            <% days = %w{sun mon tue wed thu fri sat} %>
            <% days.each do | day | %>
                  <td><%= day %></td>
            <% end %>
          </tr>
        </table>
      </div>
     
    
     </div>

    <
     
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) =================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

         <hr />
 <!-- <section id="divs">

    <div class="d">
     a<br/>
    </div>

     <div class="d">
      a a<br/>
     </div>

     <div class="d">
     a a<br/>
     </div>

    <div class="d">
     a picture or ? a<br/>
      a<br/>
       a<br/>
        a<br/>
         a<br/>
        a<br/>
    </div>

   </section> -->


   
    
  </body>
</html>



 