<!doctype html>

<html>
<head>

</head>
<body>

 
      
      

<div class="lightspot"> 

  <%= image_tag "lightspot1140px2.png", :size => "1140x600" %> 
</div>

<a style="position:absolute;top:650px;left:25%;color:white;"href="#">link</a>
<a style="position:absolute;top:650px;left:35%;color:white;"href="#">link</a>
<a style="position:absolute;top:650px;left:45%;color:white;"href="#">link</a>
<a style="position:absolute;top:650px;left:55%;color:white;"href="#">link</a>

<hr />


<% if user_signed_in? %>
  # do something
<% else %>
   <p>

     
     <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary " %>
     <%= link_to "log in", new_user_session_path, class: "btn btn-primary " %>

   </p>

  <%end%> 
 
        <hr />
  <section id="divs">

    <div class="d">
     a<br/>
    </div>

     <div class="d">
      a a<br/>
     </div>

     <div class="d">
     a a<br/>
     </div>

    <div class="d">
     a picture or ? a<br/>
      a<br/>
       a<br/>
        a<br/>
         a<br/>
        a<br/>
    </div>

   </section>
 
</body>

</html>