nnnnnn<div class="jumbotron center">
 <h1>HI  Welcome</h1>
	<p>sign <%= link_to "up", "#", class: "btn btn-primary " %>.</p>
</div>



<div style="background:black;margin-top:500px;">
<H2>boared?</H2>
  <li><%= link_to"boared?", gaming_path %></li>
</div>