// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#h1about {
}

.jumbotron {height:600px;
	         padding:0px;
}

.lightbox{margin:0px;
          border:1px;

}
.d{width:24%;height:50%;border:1px solid #ffffff;
     float:right;
     margin:5.5px;
    }
#lo{ background-color:gray;}


     
